
h1
{
	color:blue; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
border-width: 10px;
background-color: rgba(85, 170, 152, 0.87);
border-style: ridge;
}
